@import "settings";

// FOOTER =====================================================================

/* FOOTER */

footer {
    max-width: 1152px;
    margin: 0 auto;
    .contact-bar {
        max-width: 856px;
        margin: 0 auto;
        @include dflex(center, center);
        .contact-item {
            margin: 51px 17.5px 26px;
            display: inline-block;
            list-style-type: none;
        }
    }
    .copyrights {
        @include stfont(14px, normal, 400, 21px, 0px);
        text-align: center;
        color: #21243d;
        margin: 0;
        padding: 0;
    }
}
