/* IMPORT */
@import url(https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap);
@import "settings";
@import "normilize";
@import "header";
@import "footer";

/* min-width for old mobiles */

html {
    min-width: 325px;
}

/* MAIN CONTENT */

main {
    max-width: 1152px;
    margin: 0 auto;
    // FIRST SECTION WITH TEXT INFO =============================================
    .info-cont {
        margin: 140px auto 71px;
        max-width: 856px;
        height: 314px;
        //foto for adaptive
        .info-foto-mobile {
            display: none;
        }
        .dw-button {
            max-width: 208px;
            height: 47px;
            background-color: #ff6464;
            text-align: center;
            border-radius: 2px;
            @include dflex(center, center);
            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                font-family: $fontFamily;
            }
        }
        .info-flex-cont {
            @include dflex(space-between, flex-start);
            .info-text {
                .text-main {
                    max-width: 506px;
                    @include stfont(44px, normal, 700, 60px, 0);
                    color: $primary-color;
                    margin: 18px 0 0 0;
                }
                .text-second {
                    max-width: 497px;
                    @include stfont(16px, normal, 400, 24px, 0px);
                    text-align: left;
                    color: $primary-color;
                }
            }
            .info-foto {
                margin: 0;
                padding: 0;
                width: 243px;
                height: 243px;
                .foto {
                    max-width: 243px;
                    border-radius: 50%;
                }
            }
        }
    }
    // RECENT SECTION 2 DIVS =============================================
    .recent-background {
        width: 100%;
        background-color: #edf7fa;
        margin: 0 auto;
    }
    .recent-posts-cont {
        max-width: 856px;
        margin: 0 auto;
        .recent-head-text-cont {
            @include dflex(space-between, center);
            height: 69px;
            h3 {
                @include stfont(22px, normal, 400, 60px, 0px);
                text-align: left;
                margin-left: 20px;
            }
            a {
                color: #00a8cc;
                @include stfont(16px, normal, 400, 24px, 0px);
                text-align: right;
                margin-right: 20px;
            }
        }
        .post-cont-flex {
            @include dflex(space-around, center);
            width: 100%;
            flex-wrap: wrap;
            .post-cont {
                width: 418px / 856px * 100%;
                flex: 1 1 270px;
                height: 295px;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
                margin-bottom: 32px;
                margin: 0px 20px 32px 20px;
                padding: 20px;
                .post-title {
                    color: $primary-color;
                    @include stfont(26px, normal, 700, 38px, 0px);
                    text-align: left;
                    margin: 10px auto 17px;
                }
                .post-data {
                    @include stfont(18px, normal, 400, 26px, 0px);
                    text-align: left;
                    margin-right: 10px;
                    color: $primary-color;
                }
                .post-theme {
                    @include stfont(18px, normal, 400, 26px, 0px);
                    text-align: left;
                    margin-left: 10px;
                    color: $primary-color;
                }
                .post-text {
                    max-width: 368px;
                    @include stfont(16px, normal, 400, 24px, 0px);
                    text-align: left;
                    color: $primary-color;
                }
            }
        }
    }
    // FEATURED WORKS SECTION =============================================
    .featured-works {
        max-width: 856px;
        margin: 0 auto;
        .fw-cont-title {
            @include stfont(22px, normal, 400, 60px, 0px);
            text-align: left;
            color: $primary-color;
            margin: 15px 0 0;
        }
        .fw-cont {
            display: flex;
            border-bottom: 1px solid #e0e0e0;
            padding: 31px 0px 15px 0px;
            .fw-text-cont {
                margin-left: 18px;
                .fw-title {
                    @include stfont(30px, normal, 700, 44px, 0px);
                    text-align: left;
                    color: $primary-color;
                    margin: 0px 0px 9px;
                }
                p {
                    margin-top: 32px;
                }
                .fw-data {
                    @include stfont(18px, normal, 900, 60px, 0px);
                    text-align: left;
                    color: #ffffff;
                    padding: 1px 9px;
                    background-color: #142850;
                    border-radius: 16px;
                    width: 62px;
                }
                .fw-theme {
                    @include stfont(20px, normal, 400, 29px, 0px);
                    text-align: left;
                    color: #8695a4;
                    margin: 26px;
                }
                .fw-text {
                    @include stfont(16px, normal, 400, 24px, 0px);
                    text-align: left;
                    color: $primary-color;
                    margin: 0;
                }
            }
            .fw-img-cont {
                padding-top: 10px;
            }
        }
    }
}

// ADAPTIVE MAIN SECTION ==================================================================

@media only screen and (max-width: 600px) {
    main {
        .info-cont {
            margin: 0 auto 250px;
            .dw-button {
                margin: 0 auto;
            }
            .info-foto-mobile {
                @include dflex(center, center);
                margin: 0 auto;
                .foto {
                    max-width: 180px;
                }
            }
            .info-flex-cont {
                @include dflex(center, center);
                margin: 0 auto;
                .info-foto {
                    display: none;
                }
                .info-text {
                    .text-main {
                        font-size: 32px;
                        text-align: center;
                        margin: 0;
                    }
                    .text-second {
                        text-align: center;
                    }
                }
            }
        }
        .featured-works {
            .featured-works-flex {
                display: flex;
                overflow: auto;
                .fw-cont-title {
                    text-align: center;
                }
                .fw-cont {
                    display: block;
                    margin: 0 auto;
                    .fw-img-cont {
                        @include dflex(center, center);
                        margin: 0 15px;
                        .fw-img {
                            max-width: 340px;
                        }
                    }
                    .fw-text-cont {
                        text-align: left;
                        .fw-title {
                            text-align: left;
                            margin: 0;
                            font-size: 24px;
                        }
                        .fw-data {
                            font-size: 16px;
                        }
                        .fw-theme {
                            font-size: 16px;
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }
}
